<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:jaxws="http://cxf.apache.org/jaxws"
        xsi:schemaLocation="
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

        <import resource="classpath:META-INF/cxf/cxf.xml" />

		<context:component-scan base-package="com.pluralsight.cxfdemo"></context:component-scan>

        <jaxws:endpoint 
          id="helloWorld" 
          implementor="com.pluralsight.cxfdemo.HelloWorldImpl" 
          address="/HelloWorld" >
          
        </jaxws:endpoint>
          
        <jaxws:endpoint
        id="orders"
        implementor="com.pluralsight.cxfdemo.orders.DefaultOrdersEndpoint"
        address="/services/orders" >
        	<jaxws:inInterceptors>
        		<ref bean="loggingInInterceptor"/>
        		<ref bean="orderServiceSoapHeaderInterceptor"/>
        	</jaxws:inInterceptors>
        	<jaxws:outInterceptors>
        		<ref bean="loggingOutInterceptor"/>
        		<ref bean="orderServiceSoapHeaderOutInterceptor" />
        	</jaxws:outInterceptors>
        	<jaxws:outFaultInterceptors>
        		<ref bean="orderServiceSoapOutFaultInterceptor"/>
        	</jaxws:outFaultInterceptors>  
        </jaxws:endpoint>
          
        <!-- MY CUSTOM BEANS -->  
		<bean name="orderServiceSoapHeaderInterceptor" class="com.pluralsight.cxfdemo.interceptor.OrderServiceSoapHeaderInterceptor"></bean>
        <bean name="orderServiceSoapOutFaultInterceptor" class="com.pluralsight.cxfdemo.interceptor.OrdersServiceSoapOutFaultInterceptor"></bean>  
        <bean name="orderServiceSoapHeaderOutInterceptor" class="com.pluralsight.cxfdemo.interceptor.OrderServiceSoapHeaderOutInterceptor2"></bean>
        
        <!-- LOGGING BEANS -->
        <bean id="loggingInInterceptor" class="org.apache.cxf.interceptor.LoggingInInterceptor" >
        	<property name="prettyLogging" value="true" /> <!-- XML Output formatting  -->
        </bean>
        <bean id="loggingOutInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor" >
        	<property name="prettyLogging" value="true" /> <!-- XML Output formatting  -->
        </bean>
       
</beans>
